html,body {
	margin: 0; 
    padding: 0;
}
#ZgornjaPasica{
	background-color: pink;
	width: 950px;
	height: 100px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	flex-direction: row;
	align-items: flex-end;
}

.Logo {
	margin-left:20px;	
}

#FacebookTwitter{
	margin-right: 20px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	
}

#GlavniOkvir {
	background-color: violet;
	margin: 0 auto 0;
	width: 950px;
}
#Glava {
	background-color: magenta;
	height: 200px;
	width: 950px;
}
#Navigacija {
	background-color: cyan;
	height: 30px;
	width: 950px;
}
#Vsebina {
	background-color: green;
    min-height: 350px;
    width: 950px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
#Clanek {
	background-color: yellow;
	min-height: 350px;
	width: 700px;
}
#Sorodno {
	background-color: orange;
	min-height: 350px;
    width: 250px;
}
#Noga {
	background-color: pink;
	height: 50px;
	width: 950px;
}
